<ng-container *ngIf="launchDetails$ | async as launchDetails">
  <button mat-icon-button color="primary" aria-label="back to list" class="arrow-back" (click)="backToList()">
    <mat-icon>arrow_back</mat-icon>
  {{ launchDetails.mission_name }}
  </button>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile>
        <mat-card class="detail-card">
          <div *ngIf="launchDetails.links.mission_patch; else placeholder">
            <img
              mat-card-image
              [src]="launchDetails.links.mission_patch"
              alt="Mission patch of {{ launchDetails.mission_name }}"
            />
          </div>
          <ng-template  #placeholder>
            <img
              mat-card-image
              src="https://s3.amazonaws.com/assets-investx-com/assets/v2/Images/Deal+Logo/spacex.png"
              alt="Mission patch of {{ launchDetails.mission_name }}"
            />
          </ng-template>
          <mat-card-content>
            <p>{{ launchDetails.details }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <ngx-gallery [options]="galleryOptions" [images]="imageList" class="ngx-gallery"></ngx-gallery>
      </mat-grid-tile>
    </mat-grid-list>
</ng-container>
